.DS_Store
.DS_Store?
._*
__pycache__
.ipynb_checkpoints

input_data/test_data.npy
input_data/label.npy
input_data/test_label.npy
input_data/WIDE12H_bin2_2arcmin_kappa.npy
input_data/WIDE12H_bin2_2arcmin_mask.npy

reference_data/label.npy
reference_data/test_label.npy
reference_data/label_test.npy



input_data.zip

PowerSpectrumAnalysis.ipynb
generate_dummy_submission.py
/public_data

# Ignore generated model files
best_model.pth

# Ignore submission files
submissions/

# Ignore generated data from old power spectrum script
input_data/allPS.npy
input_data/meanlogPS.npy
input_data/covlogPS.npy

# Ignore temporary data files for memory-mapping
temp_data/
